<VirtualHost *:{{ web_server_port }}>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html

    ErrorLog {{ apache_log_dir }}/error.log
    CustomLog {{ apache_log_dir }}/access.log combined

    <Directory /var/www/html>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>
